grant{
    permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
    permission java.net.SocketPermission "157.27.241.193:*", "accept,connect";
    permission java.net.SocketPermission "157.27.241.191:*", "accept,connect";
};
